<div>
  <%= render "layouts/errors", :object => @user %>
</div>

<div class="userform">
  <%= form_for User.new do |f| %>
    <%= f.label :name, :required => true %>
    <br />
    <%= f.text_field :name %>
    <br />
    <br />
    <%=f.label :email %>
    <br />
    <%=f.text_field :email %>
    <br />
    <br />
    <%=f.label :password %>
    <br />
    <%=f.password_field :password %>
    <br />
    <br />
    <%=f.label :password_confirmation %>
    <br />
    <%=f.password_field :password_confirmation %>
    <br />
    <br />
      <%= f.submit "Sign Up", class: 'btn btn-default' %>
  <% end %>
</div>
